.titleHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #dedede;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 640px;
  background-color: #fafafa;
}

.row {
  background-color: black;
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  padding: 20px; 
  margin: 20px auto; 
  max-width: 500px; 
  height: 400px; 
  width: 90%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
}

.amountInputBox{
  padding: 6px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  max-width: 200px;
}

.tokenSelectorSection{
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 20px;
}

.rowFooter{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.swapButton {
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  width: 400px;
  transition: background-color 0.5s;
  border: none;
  padding: 10px;
}

.swapButton:disabled {
  background-color: grey; 
  color: #ccc; 
  cursor: not-allowed; 
  pointer-events: none; 
}

.swapButton:hover:not(:disabled) {
  background-color: #0056b3;
}

.gasEstimateText {
  text-align: left; 
  color: #fafafa;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0; 
}

.centeredImage {
max-width: 50px;
height: auto;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 4px;
}

@media (max-width: 768px) {
  .row {
    padding: 15px;
    max-width: 90%; /* Take up most of the screen width on smaller devices */
  }

  .rowFooter{
    padding: 15px;
    max-width: 90%;
  }

  .swapButton{
    max-width: 90%;
  }
}
